<a href="https://www.kaggle.com/nelsonlara/getting-started-with-sql-and-bigquery?scriptVersionId=83669740" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [2]:
from google.cloud import bigquery

In [3]:
# Create a "Client" object
client = bigquery.Client()

Using Kaggle's public dataset BigQuery integration.

In [4]:
# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [6]:
# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:  
    print(table.table_id)

comments
full
full_201510
stories

In [7]:
# Construct a reference to the "full" table
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

In [8]:
# Print information on all the columns in the "full" table in the "hacker_news" dataset
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', (), None),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', (), None),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', (), None),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', (), None),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", (), None),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', (), None),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', (), None),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', (), None),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', (), None),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", (), None),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', (), None),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', (), None),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', (), None),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', (), None)]

In [9]:
# Preview the first five lines of the "full" table
client.list_rows(table, max_results=5).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,Why is the 12 inch MacBook still in the line-u...,None,emdowling,NaN,1540913702,2018-10-30 15:35:02+00:00,comment,18337601,18336775,NaN,NaN,None
1,None,None,interesting idea.,None,codemechanic,NaN,1244232059,2009-06-05 20:00:59+00:00,comment,643850,643472,NaN,NaN,None
2,None,None,"PE is used as a comparison, if 10 of your peer...",None,m3kw9,NaN,1564109316,2019-07-26 02:48:36+00:00,comment,20531963,20530120,NaN,NaN,None
3,None,None,What do I think? Honestly?? Meta-answer: The c...,None,raganwald,NaN,1244232112,2009-06-05 20:01:52+00:00,comment,643851,643667,NaN,NaN,None
4,None,None,"<a href=""https:&#x2F;&#x2F;finance.yahoo.com&#...",None,LilBytes,NaN,1617153197,2021-03-31 01:13:17+00:00,comment,26642474,26641456,NaN,NaN,None

In [16]:
# Preview the first five entries in the "by" column of the "full" table
client.list_rows(table, selected_fields=table.schema[:1], max_results=5).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.

  title
0  None
1  None
2  None
3  None
4  None